*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 900px;
    height: 400px;

    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height: 10%;
    background-color: blueviolet;
    margin: 1em;
    padding: 10px;
    border-radius: 100em;
    text-align: center;
}
#nav{
    height: 10%;
    background-color: cadetblue;
    margin: 1em;
    border-radius: 100em;
}
#contenido{
    height: 100%;
    margin: 1em;
}
#footer{
    height: 15%;
    background-color: darkolivegreen;
    margin: 1em;
    border-radius: 100em;
}
#section{
    height: 100%;
    width: 67%;
    background-color: burlywood;
    margin-left: 0.5em;
    border-radius: 1em;
    float: left;
    line-height: 2em;
}
#aside{
    height: 100%;
    width: 30%;
    background-color: bisque;
    margin-right: 0.5em;
    border-radius: 1em;
    float: right;
}
.article{
    width: 96%;
    height: 20%;
    background-color: lightsalmon;
    margin: 1em;
    border-radius: 1em;
}
