*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 900px;
    height: 400px;

    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height: 10%;
    background-color: blueviolet;
    margin: 1em;
    padding: 10px;
    border-radius: 100em;
}
#nav{
    height: 10%;
    background-color: cadetblue;
    margin: 1em;
    border-radius: 100em;
}
#contenido{
    height: 53%;
    margin: 1em;
}
#footer{
    height: 15%;
    background-color: darkolivegreen;
    margin: 1em;
    border-radius: 100em;
}
#section{
    height: 100%;
    width: 10%;
    background-color: burlywood;
    margin-left: 0.5em;
    border-radius: 15%;
    float: left;
}